body {
  display: flex; /* Gets rid of the default block and inline alignment */
  border: 8px solid black; /* Adds black border to our frame */
  justify-content: center; /* Positions our elements at the center of the x axis */
  min-height: 800px; /* Adds height to our frame */
}

.box {
  height: 200px;
  width: 200px;
  background-color: #0071ff;
  font-size: 40px;
}
