body {
  /* How to center a div */
  /* display: flex; Gets rid of the default block and inline alignment */
  /* justify-content: center; Positions our elements at the center of the x axis */
  /* align-items: center; Positions our element along the y axis */

  /* More options in justify content */
  /* justify-content: space-around; Creates space around the items */
  /* justify-content: space-evenly; Creates equal spaces between the items */
  /* justify-content: space-between;  Created space between the items, making the first and last items to touch the border */

  min-height: 800px; /* Adds height to our frame */
  border: 8px solid black; /* Adds black border to our frame */

  display: flex;
  gap: 20px;
}
#one {
  flex-shrink: 0;
}
.box {
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: #0071ff;
  font-size: 40px;
}
